*.dbg
lib/
g_searle/originals/
g_searle/hexFiles/
*.bin
*.hex
*.map
*.lst
*.log
g_searle/transientAppsPackage/
g_searle/windowsApp/
g_searle/TASM.EXE
g_searle/TASM.TXT
g_searle/TASM_RELNOTES.TXT
g_searle/TASM80.TAB
*.BAT
box80.nev
box80.tx2
box80.tx3
box80.txt
profile.ini
proflst.asc
*.com
docs/research/
imported/
binaries/
*.lps
docs/instruction_coverage.xlsx
docs/~$instruction_coverage.xlsx
