*.asc
*.bat
*.bin
*.com
*.dbg
*.hex
*.ini
*.log
*.lps
*.lst
*.map
*.nev
*.res
*.tx2
*.tx3
*.txt
backup/
binaries/debug/
binaries/debugprofile/
docs/research/
docs/~$instruction_coverage.xlsx
imported/
lib/
test_files/
test_prog/