*.asc
*.bat
*.bin
*.com
*.dbg
*.docx
*.hex
*.ini
*.log
*.lps
*.lst
*.map
*.nev
*.res
*.tx2
*.tx3
*.txt
*.xcf
*.zip
box80_dev_tasks.xlsx
backup/
binaries/debug/
binaries/debugprofile/
docs/fixes
docs/research/
docs/~$instruction_coverage.xlsx
imported/
lib/
test_files/validation/archived/
test_files/vms/
test_prog/
/box80_dev_tasks.xlsx
